backend/node_modules/

backend/terraform/.terraform
backend/terraform/*.hcl
backend/terraform/*.tfstate
backend/terraform/*.tfstate.*

backend/layers/


frontend/terraform/.terraform
frontend/terraform/*.hcl
frontend/terraform/*.tfstate
frontend/terraform/*.tfstate.*
